In [199]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import date
from itertools import combinations

In [200]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [201]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [202]:
answers = {} # создадим словарь для ответов
#create profit column
data['profit'] = data['revenue'] - data['budget']
#reform data given with the separator | into lists
data['genres'] = data['genres'].str.split('|')
data['cast'] = data['cast'].str.split('|')
data['production_companies'] = data['production_companies'].str.split('|')
data['director'] = data['director'].str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [203]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [204]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [205]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [206]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [207]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",4/13/2011,6.8,2011,-15540000

In [208]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [209]:
int(round(data.runtime.mean(),0))

110

In [210]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [211]:
int(data.runtime.median())

107

In [212]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [213]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",12/10/2009,7.1,2009,2544505847

In [214]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [215]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7/3/2013,6.0,2013,-165710090

In [216]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [217]:
data[data.revenue > data.budget].imdb_id.count()

1478

In [218]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [219]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8.1,2008,816921825

In [220]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [221]:
data_2012_2014 = data[data.release_year>2012 & (data.release_year <= 2014)]
data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7/3/2013,6.0,2013,-165710090

In [222]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [223]:
splitted_df = data.explode('genres').copy()
splitted_df.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [224]:
answers['11'] = '3. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [225]:
splitted_df[splitted_df.profit > 0].genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [226]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [227]:
dirs_df=data.copy()
dirs_df = dirs_df.explode('director')
dirs_df_grouped = dirs_df.groupby(['director'])['revenue'].sum().sort_values(ascending = False)
display(dirs_df_grouped)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [228]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [229]:
dirs_df=data.copy()
dirs_df = dirs_df.explode('director')
genres_df=dirs_df.explode('genres')
genres_df[genres_df.genres == 'Action'].director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Terry Gilliam         1
DJ Pooh               1
Gary Shore            1
Josh Trank            1
Chris Nahon           1
Name: director, Length: 364, dtype: int64

In [230]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [231]:
actors_df=data.copy()
actors_df = actors_df.explode('cast')
actors_df_grouped = actors_df[actors_df.release_year == 2012].groupby(['cast'])['revenue'].max().sort_values(ascending = False)
display(actors_df_grouped)

cast
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
                         ...
Jason Bateman            3428048
Danny Huston             2106557
Sami Gayle               2106557
Josh Lucas               2106557
Nicolas Cage             2106557
Name: revenue, Length: 466, dtype: int64

In [232]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [233]:
h_budget_df = data.copy()
h_budget_df = h_budget_df[h_budget_df.budget > h_budget_df.budget.mean()]
h_budget_df.explode('cast').cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Joseph Morgan         1
Ming-Na Wen           1
Andrew McCarthy       1
Eleanor Tomlinson     1
Heike Makatsch        1
Name: cast, Length: 1505, dtype: int64

In [234]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [235]:
actors_df=data.copy()
actors_df = actors_df.explode('cast')
actors_df = actors_df.explode('genres')
actors_df[actors_df.cast == 'Nicolas Cage'].genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

In [236]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [237]:
studios_df = data.copy()
studios_df = studios_df.explode('production_companies')
paramount_df = studios_df[studios_df.production_companies == 'Paramount Pictures']
paramount_df[paramount_df.profit == paramount_df.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,7/19/2002,6.0,2002,-64831034

In [238]:
answers['18'] = '1. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [239]:
rev_df = data.copy()
grouped_rev_df = rev_df.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
display(grouped_rev_df)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [240]:
answers['19'] = '5. 2015'

20. Какой самый прибыльный год для студии Warner Bros?

In [241]:
studios_df = data.copy()
studios_df = studios_df.explode('production_companies')
warner_df = studios_df[studios_df.production_companies.str.contains('Warner Bros')]
warner_df.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [242]:
answers['20'] = '1. 2014'

21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [243]:
time_df = data.copy()
time_df['release_date'] = time_df['release_date'].apply(lambda x: x.split('/'))
time_df['month'] = time_df['release_date'].apply(lambda x: int(x[0]))
time_df['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [244]:
answers['21'] = '4. Сентябрь'

22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [245]:
time_df = data.copy()
time_df['release_date'] = time_df['release_date'].apply(lambda x: x.split('/'))
time_df['month'] = time_df['release_date'].apply(lambda x: int(x[0]))
time_df[(time_df['month'] >= 6) & (time_df['month'] <= 8)].imdb_id.count()

450

In [246]:
answers['22'] = '2. 450'

23. Для какого режиссера зима – самое продуктивное время года?

In [247]:
time_df = data.copy()
time_df['release_date'] = time_df['release_date'].apply(lambda x: x.split('/'))
time_df['month'] = time_df['release_date'].apply(lambda x: int(x[0]))
dirtime_df = time_df.explode('director')
winter_df = dirtime_df.query('month in [1,2,12]')
winter_df.director.value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Nancy Meyers         4
                    ..
Roger Donaldson      1
Sean Anders          1
Greg Mottola         1
Evan Goldberg        1
Alan Parker          1
Name: director, Length: 358, dtype: int64

In [248]:
answers['23'] = '5. Peter Jackson'

24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [249]:
studios_df = data.copy()
studios_df = studios_df.explode('production_companies')
studios_df['name_length'] = studios_df['original_title'].apply(lambda x: len(x))
studios_df.groupby(['production_companies'])['name_length'].mean().sort_values(ascending = False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: name_length, Length: 1771, dtype: float64

In [250]:
answers['24'] = '5. Four By Two Productions'

25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [251]:
studios_df = data.copy()
studios_df = studios_df.explode('production_companies')
studios_df['overview_length'] = studios_df['overview'].apply(lambda x: x.split(' '))
studios_df['overview_length'] = studios_df['overview_length'].apply(lambda x: len(x))
studios_df.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending = False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_length, Length: 1771, dtype: float64

In [252]:
answers['25'] = '3. Midnight Picture Show'

26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [253]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [254]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [255]:
actors_df = data.copy()
actors_df['actors_pairs'] = actors_df['cast'].apply(lambda x: combinations(x,2))
actors_df['actors_pairs'] = actors_df['actors_pairs'].apply(lambda x: list(x))
actors_df = actors_df.explode('actors_pairs')
actors_df.actors_pairs.value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Kellan Lutz, Liam McIntyre)           1
(Lily Tomlin, Chi McBride)             1
(Tim McGraw, Marshall Chapman)         1
(Mandy Moore, Peter Coyote)            1
(Bobby Campo, Krista Allen)            1
Name: actors_pairs, Length: 18121, dtype: int64

In [256]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'

 Submission

In [257]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [258]:
len(answers)

27